<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="~/styles/style.css" />
    <title>Авторизация</title>
</head>
<body>
<div>
    @RenderBody()
</div>
<script src="~/scripts/script.js"></script>
</body>
</html>