@model SkillSystem.IdentityServer4.Models.Account.RegisterViewModel

<form class="form" asp-controller="Account" asp-action="Register" method="post">
    <input type="hidden" asp-for="ReturnUrl" />
    <div class="input-wrapper">
        <input class="input" placeholder="Фамилия" asp-for="LastName" autocomplete="off" required />
    </div>
    <div class="input-wrapper">
        <input class="input" placeholder="Имя" asp-for="FirstName" autofocus autocomplete="off" required />
    </div>
    <div class="input-wrapper">
        <input class="input" placeholder="Отчество" asp-for="Patronymic" autocomplete="off" required />
    </div>
    <div class="input-wrapper">
        <input class="input" placeholder="Адрес эл. почты" asp-for="Email" autocomplete="off" required />
    </div>
    <div class="input-wrapper">
        <input class="input" placeholder="Пароль" asp-for="Password" autocomplete="off" required />
    </div>
    <div class="input-wrapper">
        <input class="input" placeholder="Повторите пароль" asp-for="ConfirmPassword" autocomplete="off" required />
        <span class="validation-message" asp-validation-for="ConfirmPassword"></span>
    </div>
    <button class="btn" type="submit">Зарегистрироваться</button>
</form>